<div *ngIf="isDataLoaded == false" class="d-flex justify-content-center">
  <div class="spinner-border text-primary" style="width: 10rem; height: 10rem" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div>
  <ng-image-slider [imageSize]="{width: 800, height: 600, space: 4}" [images]="carImages" #nav></ng-image-slider>
  <div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-primary" type="button" routerLink="/rent/{{CarId}}" *ngIf="this.router.url.indexOf('/rent')">Rent This Car</button>
  </div>
</div>

