<div *ngIf="isDataLoaded == false" class="d-flex justify-content-center">
  <div class="spinner-border text-primary" style="width: 10rem; height: 10rem"  role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div *ngIf="isDataLoaded != false">
  <table class="table">
    <thead>
      <tr>
        <th>CustomerId</th>
        <th>UserId</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Company Name</th>
      </tr>
    </thead>

    <tr *ngFor="let customer of customers">
      <td>{{ customer.customerId }}</td>
      <td>{{ customer.userId }}</td>
      <td>{{ customer.firstName }}</td>
      <td>{{ customer.lastName }}</td>
      <td>{{ customer.email }}</td>
      <td>{{ customer.companyName }}</td>
    </tr>
  </table>
</div>
