<div *ngIf="isDataLoaded == false">
  <div class="spinner-grow text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-secondary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-success" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-danger" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-warning" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-info" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-light" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-dark" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<div class="mb-3">
  <label class="form-label">Search Brands</label>
  <input id="filterText" [(ngModel)]="filterText" type="text" class="form-control" placeholder="Search">
</div>
<div *ngIf="filterText" class="alert alert-success">
  You've searched for {{ filterText }}.
</div>
<div *ngIf="isDataLoaded != false">
  <table class="table">
    <thead>
    <tr>
      <th>Id</th>
      <th>Brand</th>
    </tr>
    </thead>

    <tr
      *ngFor="let brand of brands | filterBrands:filterText"
      (click)="setCurrentBrand(brand)"
      routerLink="/cars/brand/{{ brand.id }}"
    >
      <td>{{ brand.id }}</td>
      <td>{{ brand.name }}</td>
    </tr>
  </table>
</div>
