<div *ngIf="isDataLoaded == false" class="d-flex justify-content-center">
  <div class="spinner-border text-primary" style="width: 10rem; height: 10rem"  role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div *ngIf="isDataLoaded != false">
  <div class="mb-3">
    <label class="form-label">Search Colors</label>
    <input id="filterText" [(ngModel)]="filterText" type="text" class="form-control" placeholder="Search">
  </div>
  <div *ngIf="filterText" class="alert alert-success">
    You've searched for {{ filterText }}.
  </div>
  <table class="table">
    <thead>
    <tr>
      <th>Id</th>
      <th>Color</th>
    </tr>
    </thead>

    <tr *ngFor="let color of colors | filterColors:filterText" routerLink="/cars/color/{{ color.id }}">
      <td>{{ color.id }}</td>
      <td>{{ color.name }}</td>
    </tr>
  </table>
</div>
