<ul class="list-group">
  <li class="list-group-item">
    <a routerLink="/cars" routerLinkActive="active">Cars</a>
  </li>
  <li class="list-group-item">
    <a routerLink="/rentals" routerLinkActive="active">Rentals</a>
  </li>
  <li class="list-group-item">
    <a routerLink="/colors" routerLinkActive="active">Colors</a>
  </li>
  <li class="list-group-item">
    <a routerLink="/brands" routerLinkActive="active">Brands</a>
  </li>
  <li class="list-group-item">
    <a routerLink="/customers" routerLinkActive="active">Customers</a>
  </li>
</ul>
