<div class="content">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title"> Marka Ekle</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="brandAddForm">
          <div class="mb-3">
            <label for="brandName">Marka Adı</label>
            <input type="text" id="brandName" formControlName="name"
                   class="form-control" placeholder="Marka adı">
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary" (click)="add()">Ekle</button>
      </div>
    </div>
  </div>
</div>
