<div *ngIf="isDataLoaded == false" class="d-flex justify-content-center">
  <div class="spinner-border text-primary" style="width: 10rem; height: 10rem" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div *ngIf="isDataLoaded != false">
  <div class="container">
    <div class="row align-items-start">
      <div class="col">
        <input id="filterText" [(ngModel)]="filterText" type="text" class="form-control" placeholder="Search Cars">
      </div>
      <div class="col">
        <select class="form-select" aria-label="Default select example" [(ngModel)]="currentBrand">
          <option selected [ngValue]="undefined">Brands</option>
          <option *ngFor="let brand of brands" [ngValue]="brand">{{brand.name}}</option>

        </select>
      </div>
      <div class="col">
        <select class="form-select" aria-label="Default select example" [(ngModel)]="currentColor">
          <option selected [ngValue]="undefined">Colors</option>
          <option *ngFor="let color of colors" [ngValue]="color"> {{color.name}} </option>
        </select>
      </div>
    </div>
  </div>
  <div *ngIf="filterText" class="alert alert-success">
    You've searched for {{ filterText }}.
  </div>
  <table class="table">
    <thead>
    <tr>
      <th>Brand</th>
      <th>Color</th>
      <th>Description</th>
      <th>Daily Price</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr
      *ngFor="let car of cars | filterCars:filterText|filterCarBrands:currentBrand|filterCarColors:currentColor"
      routerLink="/cardetails/{{ car.carId }}"
    >
      <td>{{ car.brandName }}</td>
      <td>{{ car.carColor }}</td>
      <td>{{ car.carDescription }}</td>
      <td>{{ car.carDailyPrice }}</td>
      <td>
        <button type="button" class="btn btn-primary"
                (click)="setCurrentCar(car)"
                routerLink="/cars/update/{{car.carId}}">Güncelle
        </button>
      </td>
    </tr>
    </tbody>

  </table>
  <div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-primary" type="button" routerLink="/cars/add">Araba Ekle</button>
  </div>
</div>
